@model Lecture_5.Models.Entity.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="?Product/Edit" method="post">
    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" />
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br />
    <label>Price</label>
    <input type="number" name="Price" value="@Model.Price" class="form-control" />
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    <br />
    <label>Quantity</label>
    <input type="number" name="Quantity"  value="@Model.Quantity" class="form-control" />
    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    <br />
    <label>Description</label>
    <input type="text" name="Description" value="@Model.Description" class="form-control" />
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    <br />
    <input type="Submit" value="Update" class="btn btn-success" />
</form>

