@model List<Lecture_5.Models.Entity.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Products/Create" class="btn btn-primary">Add Product</a>
<br />

<table class="table table-strriped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@item.Description</td>
        </tr>
    }
</table>

